.popup-inner[data-v-2b7e0530] {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.popup-inner.center[data-v-2b7e0530] {
  width: 50%;
  height: 30%;
}
.popup-inner.left[data-v-2b7e0530],
.popup-inner.right[data-v-2b7e0530] {
  width: 70%;
  height: 100%;
}
.popup-inner.top[data-v-2b7e0530],
.popup-inner.bottom[data-v-2b7e0530] {
  width: 100%;
  height: 50%;
}
